*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.title{
 text-align: center;
}
.main-form{
width: 60%;
margin: 0 auto;
}
.loading img{
display: block;
margin: 0 auto;
}
.tweets{
width: 60%;
margin: 50px auto;
}
